@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
  --fg: #0f172a;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: "Noto Sans", "Noto Sans Sinhala", "Noto Sans Tamil", system-ui,
    sans-serif;
}
